
.unique-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}
.unique-container .report-nav-btn{
    margin-left: 0px !important;
    margin-top: 20px;
    background-color:#ffa734 !important;
    padding: 10px 20px !important;
    width: 100px !important;
}

.unique-right-image {
    background-color: #faeedf !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.unique-right-image img{
    width:100%;
}
.unique-left-block{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.unique-form-box h2{
    color:#2f327d;
    font-size: 3.5rem;
    font-weight: 600px;
     text-align: start;
     margin-bottom: 20px;

}


.unique-logo-para{
    font-size: 15px;
    text-align: start;
    font-weight: 500;
    line-height:20px;
    margin-right:2px;
    color:#2f327d;
}
.unique-form-box {
    width: 100%;
    max-width: 400px;
    /* background: white; */
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}


.unique-label{
    display:flex;
    justify-content: flex-start;
    margin-left: 5px;
}

.unique-label label{
   font-size: 15px;
   margin-bottom: 5px;
   font-weight: 300;
   color: #616161 !important;
}
.unique-form-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.unique-form-box button {
    width: 50%;
    margin: 20px;
    padding: 12px;
    background-color: #ffa734;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.unique-form-box button:hover {
    background-color: #f48c06;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.unique-right-image {
    width: 50%;

}

/* Responsive Mobile View */
@media (max-width: 600px) {
    .unique-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
         background-color: #faeedf !important;
    }
    .unique-container .report-nav-btn{
        position: absolute;
        top: 20px;
        left: 20px;
  
    }
    .unique-form-box h2 {
        font-size: 3rem;;
    }

    .unique-left-block{
        width: 80%;
        height: 50vh;
    }
    .unique-right-image {
       display:none;
    }

    .unique-left-block {
        height: auto;
        /* padding: 10%; */
    }
    .unique-form-box {
        padding:0%;
    }
}

/* Responsive Mobile View */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .unique-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #faeedf !important;
    }

    .unique-form-box h2 {
        font-size: 4rem;
    }
    .unique-logo-para {
        font-size: 1.2rem;
    }

    /* .unique-left-block {
        width: 80%;
        height: 50vh;
    } */

    .unique-right-image {
        display: none;
    }

    .unique-left-block {
        height: auto;
        /* padding: 10%; */
    }

    .unique-form-box {
        padding: 0%;
    }
    .unique-form-box input {
        margin:0px;
    }
    .unique-form-box button {
         width:80%;
    }

}
