
.unique-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.unique-right-image {
    background-color: #faeedf !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    flex-direction: column;
}


.unique-right-image img {
    width: 70%;
}

.unique-left-block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.unique-heads-con{
    color:#2f327d;
    font-weight:600;
}

.unique-para-con{
    color: #363270;
    /* font-size: 2rem; */
}

.unique-form-box h2 {
    color: #2f327d;
    font-size: 2rem;
    font-weight: 600px;
    
}

.unique-logo-para {
    font-size: 15px;
    text-align: start;
    font-weight: 500;
    line-height: 20px;
    margin-right: 2px;
    color: #2f327d;
    margin-bottom: 20px;
}

.unique-form-box {
    width: 100%;
    max-width: 400px;
    /* background: white; */
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.unique-form-box h2 {
    margin-bottom: 30px;
}

.unique-label {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
}

.unique-label label {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 300;
    color: #616161 !important;
}

.unique-form-box input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.unique-content{
    padding-bottom: 18px;
}

.unique-form-box button {
    width: 50%;
    margin: 20px;
    padding: 12px;
    background-color: #ffa734;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* .unique-form-box button:hover {
    background-color: #3700b3;
} */

.unique-right-image {
    width: 50%;
    /* background: url('https://via.placeholder.com/800x1000') no-repeat center center;
    background-size: cover; */
}

/* Responsive Mobile View */
@media (max-width: 600px) {
    .unique-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #faeedf !important;
    }

    .unique-form-box h2 {
        font-size: 2rem;
    }

    .unique-left-block {
        width: 80%;
        height: 50vh;
    }

    .unique-right-image {
        display: none;
    }

    .unique-left-block {
        height: auto;
        /* padding: 10%; */
    }

    .unique-form-box {
        padding: 0%;
    }
    .unique-form-box input {
        margin:0px;
    }
    .unique-form-box button {
         width:70%;
    }

}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .unique-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #faeedf !important;
    }

    .unique-form-box h2 {
        font-size: 4rem;
    }
    .unique-logo-para {
        font-size: 1.2rem;
    }

    /* .unique-left-block {
        width: 80%;
        height: 50vh;
    } */

    .unique-right-image {
        display: none;
    }

    .unique-left-block {
        height: auto;
        /* padding: 10%; */
    }

    .unique-form-box {
        padding: 0%;
    }
    .unique-form-box input {
        margin:0px;
    }
    .unique-form-box button {
         width:80%;
    }

}
