/* General Styles */
.admin-dashboard-page {
  color: #394047;
  background-color: #f9e6cd;

}

.delete-all-btn {
  background-color: #f48c06;
  color: white;
  border: none;
  padding:6px 8px;
  font-size: 14px;
  border-radius:5px;
  font-size: 12px;
  margin: 5px 0px 0px 25px ;
  cursor: pointer; 
}
.cam-History-container{
  margin:0px 30px;
}
.template-icons{
  display: flex;
  gap:5px;
  margin:10px 0px
}
.icon-his{
  color: #f48c06;
  font-size: 18px;
  margin-right: 5px;
}
.template-icons{
  font-size: 18px;
  font-weight: 600;
  color:#2f327d;
}
.template-details{
   padding: 10px;
   background:#fff; 
   width:150px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(163, 163, 163, 0.2);
   display:flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.template-details:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(163, 163, 163, 0.3);
}
.template-details-container{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.icon-his-text{
  color:black;
  font-size: 16px;
  font-weight:400;
}

.sub-icon-his-text{
  color:#534f48;
  font-size: 14px;
  font-weight:200;
  margin-top: 20px;
}
.icon-his-text-number{
  font-weight: 400;
  margin-left: 25%;
  font-weight:200;
  color:#534f48;
}

.icon-his-text-status{
  font-size: 14px;
  font-weight:200;
  margin-top: 20px;
  margin-left: 5%;
}

.header-campaign-name{
  display:flex;
  gap:8px;
  align-items: center;
  /* margin:20px 0px 0px 0px; */
  font-size: 18px;
  font-weight: 500;
  color:#2f327d;
}

.select-all{
  display:flex;
  gap:5px;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  background-color: #f48c06;
  color: white;
  border: none;
  padding:6px;
  font-size: 14px;
  border-radius:5px;
  font-size: 12px;
  cursor: pointer; 
}


.admin-dashboard-header {
  color: #2b2d77;
  font-size: 24px !important;
  padding: 5px !important;

}

.admin-nav {
  display: flex;
  justify-content: space-between;
  background-color:white;
  font-weight: bold;
  padding:10px;
  margin: 0px;
   position: sticky;
   top: 0;
   z-index: 9999;
}
.action-btn-campaign{
  display: flex;
  gap: 5px;
  margin-top:20px;
}

.admin-nav-button {
  background-color: #2f327d;
  color: white;
  border: none !important;
  display: flex  !important;
  justify-content: center !important;
  gap: 5px !important;
  outline: none !important;
  align-items: center;
  cursor: pointer;
  width: 100px;
  padding: 8px 5px;
  font-size: 14px;
  border-radius: 8px;
  margin-top: 5px;
}

/* Table Styles */
.cam-dashboard-table {
  width: 96%;
  border-collapse: collapse;
  margin: 10px auto;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cam-dashboard-table th {
  text-align: center;
  padding: 0.6rem;
  border-bottom: 1px solid #dee2e6;
  font-size: 14px;
  font-weight: lighter;
}

.cam-dashboard-table td {
  text-align: center;
  padding: 0.7rem;
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
}

.cam-dashboard-table thead{
  color: #fff;
  background: linear-gradient(90deg, #2f327d, #7353b3);
  /* text-transform: uppercase; */
}

.cam-dashboard-table td {
  color: #0b0f12;
}

.cam-dashboard-table tbody tr:hover {
  background: #e8f2fc;
  transition: background 0.3s ease;
}

.view-btn,
.resend-btn {
  background-color: #2f327d;;
  color: white;
  border: none;
  /* padding: 5px 10px; */
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.failed-resend-btn{
  width: 60px !important;
  height: 25px !important;
  /* margin-top: 15px; */
  font-size: 12px;
}
.failed-split-btn{
  display: flex;
  justify-content: space-between;
}

.view-btn:hover,
.resend-btn:hover {
  background-color:#232669;
  ;
}
.edit-btn-campaign{
  background-color: #f48c06 !important;
  padding: 0px 10px !important;
  height: 35px;
  margin-top: 10px;
}
.edit-btn-campaign:hover{
  background-color: #e68301 !important;
}
.modal-overlay-fail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 87%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-fail {
  width: 300px !important;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.close-btn-fail {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.close-btn-fail:hover {
  background-color: darkred;
}
.failedview{
  max-height: 250px;
  overflow-x: auto;
}

/* Toggle switch */
.toggle{
  align-items: center;  
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.modal-schedule {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8888;
}

.modal-content-schedule {
  width: 230px !important;
  background: white;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

.modal-actions-schedule {
  margin-top: 20px;
}

.modal-actions-schedule button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-actions-schedule button:first-child {
  background:#2f327d;
  color: white;
}

.modal-actions-schedule button:last-child {
  background: red;
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 300px;  
  position: relative;
}



.search-icon {
  position: absolute;
  right: 20px;
  color: #555;
  font-size: 16px;
}

.search-input {
  border: none;
  outline: none;
  /* background: transparent; */
  font-size: 14px;
  padding: 8px 5px !important;
  /* Adjust padding to prevent overlap */
  width: 100%;
}

.search-input::placeholder {
  color: #999;
  font-size: 14px;
}

.mobile-btn{
  display:none;
}
.desktop{
  display:block
}

@media (max-width:480px){
  .mobile-btn {
      display: block;
  }
  .desktop{
      display:none !important;
  }
  .delete-all-btn{
    margin-left: 5px;
  }
  .nav-mobile-btn{
      display:flex;
      justify-content: space-between;
  }
  .admin-nav{
      flex-direction: column;
      width: 95%;
  }
  .admin-dashboard-heading {
      font-size: 22px;
   }
  
   .admin-dashboard-header {
      font-size: 20px !important;
      padding-top: 15px;
   }

  .admin-nav-button2 {
      background-color: #2f327d;
      color: white;
      border: none !important;
      outline: none !important;
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      width: 100px;
      height: 40px;
      font-size: 12px;
      border-radius: 25px;
      margin-top: 5px;
  }
  .search-container{
      align-content: center !important;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
  .template-details-container{
    overflow: auto;
  }
  .template-details{
    width: 155px;
    /* height: 140px; */
  }
  /* .failed-resend-btn{
    margin-top: 15px;
  }
  .failed-split-btn{
    margin-top: 20px;
  } */
}
@media screen and (min-width: 600px) and (max-width: 900px){

    .template-details-container{
    overflow-x: auto;

  }
}