.profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.expiry-date {
  position: absolute;
  top: 13px;
  right: 27%;
}

.logo_img {
  width: 190px;
  margin-left: 8%;
  margin-bottom: 5px;
  cursor: pointer;
}

.upgrade-btn-home {
  cursor: pointer;
  background-color: #fde3c1;
  color: #f48c06;
  padding: 5px;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
}

/* Sidebar Styles */
.sidebar-container {
  display: flex;
  /* height: 150vh; */
  width: 100%;
  /* background-color: #f4f4f4; */
  overflow: hidden !important;
}

.content-item-preview {
  width: 95% !important;
}

.modal-overlay-tem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 87%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content-tem {
  background: white;
  padding: 0px;
  border-radius: 8px;
  width: 80%;
  height: 90%;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}

.modal-content-tem ol li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.modal-content-tem::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.modal-content-tem::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


.preview-modal-overlay-tem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 87%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preview-modal-content-tem {
  background: white;
  padding: 0px 0px 20px 0px;
  border-radius: 8px;
  width: 700px;
  height: 500px;
  max-height: 600px;
  max-width: 800px;
  overflow: auto;
  position: relative;
}

.preview-add-content {
  padding: 20px 10px 0px 30px;
}

.preview-modal-content-tem::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.preview-modal-content-tem::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


.close-button-tem,
.close-modal-read-pre {
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-nav-previews {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #e9e3e3;
  padding: 10px;
}

.birthday-head {
  font-size: 18px;
}

.modal-nav-previews-temps {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #e9e3e3;
  padding: 10px;

}

.rule-modal-container ol {
  padding: 10px 30px;
}

.rule-modal-container ol li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.border-icons {
  width: 95% !important;
}

.prev-select-btn {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 18%;
  background-color: #fff;
  color: #fff;
  padding: 10px 20px;
  /* position: fixed;
    top: 0;
    left: 0; */
  height: 105vh;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
}

.sidebar-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  color: #2f327d;
  cursor: pointer;
}

.icons-side {
  width: 20%;
  font-size: 16px;
  transition: transform 0.3s ease;
  color: #f48c06;
}

.sidebar-btn-flex {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  border: 1px solid #f48c06;
  border-radius: 10px;
  padding: 10px;
}

.sidebar-btn-flex:hover {
  background-color: #f48c06;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-btn-flex:hover .icons-side {
  color: white;
  transition: color 0.3s ease, color 0.3s ease;
}

.sidebar-btn-flex:hover .sidebar-button {
  color: white;
  transition: color 0.3s ease, color 0.3s ease;
}

.active-tab {
  background-color: #f48c06;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.active-tab .sidebar-button,
.active-tab .icons-side {
  color: white !important;
}

.sidebar-btn-set {
  margin-top: 30px;
}

.template-thumbnail-container {
  /* border:1px solid #e2e2e2; */
  margin: 20px;
}

.saved-template-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 250px;
}

.template-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 250px;
  height: 250px;
  cursor: pointer;
  overflow-y: auto;
  /* allow scroll programmatically if needed */
  overflow-x: hidden;

  /* Firefox */
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

/* WebKit (Chrome, Safari, Edge) */
.template-thumbnail::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.template-thumbnail::-webkit-scrollbar-thumb {
  background: transparent;
}

.template-thumbnail::-webkit-scrollbar-track {
  background: transparent;
}

.template-actions-delete {
  display: flex;
  gap: 10px;
  margin-left: 40px;
  margin-top: 20px;
}

.delete-all-btn-tem {
  background-color: #f48c06;
  color: white;
  border: none;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 5px;
  margin: 5px 0px 0px 0px;
  font-size: 12px;
  cursor: pointer;
}

.select-all-tem {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  background-color: #f48c06;
  color: white;
  border: none;
  padding: 6px;
  font-size: 14px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.template-name {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.template-name h4 {
  color: #2f327d;
  font-weight: 600;
  font-size: 18px;
  text-align: center;

}

.gallery-img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70% !important;
}

.gallery-img-image {
  width: 80% !important;
  display: flex;
  justify-content: center;
  align-content: center;
}

.gallery-img-multi {
  width: 50% !important;
}

.multi-gallery img {
  width: 80% !important;
  height: 80% !important;
}

.btn-gallery-whole {
  width: 60% !important;
  font-size: 12px !important;
  /* height:50% !important; */
}

.btn-gallery {
  width: 50% !important;
  font-size: 12px !important;
  padding: 5px 10px !important;
  /* height:50% !important; */
}

.video-img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80% !important;
  height: 80% !important;
}

.image-text-wrapper .gallery-img-text-img {
  width: 100px !important;
  height: 100px !important;
}

.image-text-wrapper .gallery-text-img {
  width: 100px !important;
  height: 100px !important;
}

.image-text-container #gallery-imagewithtext {
  height: 100px !important;
}

/* .para-gallery{
  width:30% !important;
  font-size: 10px !important;
}
.para-container{
  width:30% !important;
} */

.gallery-img-banner {
  display: flex;
  justify-content: center;
  align-content: center;
}

.multi-gallery .text-card {
  font-size: 10px !important;
}

.gallery-line hr {
  width: 200px !important;
}

.saved-template-display {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(30, 30, 30, 0.08);
}

.header-saved-template {
  padding: 10px;
}

.header-head-para {
  color: #575656;
  padding: 5px 10px;
}



.sidebar-button-mobile {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid #f48c06;
  color: #f48c06;
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-button {
  width: 70%;
  border: none;
  font-size: 1rem;
  background: none;
  color: #f48c06;
  text-align: left;
  cursor: pointer;
}



.sidebar-img {
  width: 100%;
  margin-top: 180px;
}

/* Main Content Styles */
.main-content {
  width: 82%;
  background-color: #FFFAF3;

}

.main-content-sub {
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE 10+ */
}

/* Hide scrollbar by default (Webkit browsers) */
.main-content-sub::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Show scrollbar on hover */
.main-content-sub:hover::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.main-content-sub:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  /* Customize color */
  border-radius: 4px;
}


.main-content-sub::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  border-radius: 4px;
}

/* .campaign-button{
  margin-top: 30px;
} */

.maincontent-main {
  padding: 20px;
  display: flex;
  justify-content: center;

}

.card-grid {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 500px;
  margin-top: 8%;
  padding: 80px;
  background-color: #fff;
  border-radius: 10px;
}

.card-grid-auto {
  margin-top: 5%;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 500px;
  padding:60px 80px;
  background-color: #fff;
  border-radius: 10px;
}

/* Automation css */
.auto-overlay-unique {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 87%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auto-modal-unique {
  background: #fff;
  width: 600px;
  max-width: 95%;
  max-height: 500px;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.auto-close-unique {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.auto-title-unique {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.auto-options-unique {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.auto-option-btn-unique {
  flex: 1;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.auto-active-unique {
  background-color: #f48c06;
  color: white;
  border-color: #f48c06;
}

.auto-section-unique {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auto-section-unique label {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 5px;
}

.auto-section-unique select,
.auto-section-unique input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;

}

.auto-section-unique input[type="text"] {
  width: 97%;

}

.auto-actions-unique {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.auto-save-unique {
  background-color: #2f327d;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auto-cancel-unique {
  background-color: #f48c06;
  color: white;
  padding: 8px 14px;
  border: none;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.logo_img-mobile {
  display: none;
}


.dwn-menu {
  display: none;
}

.desktop-content {
  display: none;
}

/* .campaign-button{
  margin-top: 30px;
} */


/* Modal Styles */
.campaign-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 87%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.campaign-modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.campaign-modal-content h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.modal-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.modal-create-button-cancel-modal {
  background: #f48c06;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
}

.modal-create-button {
  background: #2f327d;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
}

.modal-create-button:hover {
  background-color: #25276d;
}

/* Add this CSS to center the toast content */
.custom-toast .Toastify__toast {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
}


.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 12px;
  /* background: linear-gradient(135deg, #65bbc5, #007c89); */
  background-color: #f48c06;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.cards .icons {
  font-size: 50px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}



.cards-auto {
  width: 140px !important;
  height: 140px !important;
}

.cards-auto .icons {
  font-size: 25px !important;
  margin-bottom: 5px !important;
}

.cards:hover .icons {
  transform: rotateY(180deg);
}

.card-texts {
  font-size: 16px;
  font-weight: 600;
}

.logout-content:hover .icon-log {
  animation: moveIcon 0.5s ease-in-out infinite alternate;
}

@keyframes moveIcon {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(5px);
    /* Move icon slightly to the right */
  }
}

.navbars {
  background-color: #fff;
  border: none;
  outline: none;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
}

.profile-container {
  position: absolute;
  right: 0;
  top: 10px;
}

.nav-split {
  display: flex;
  gap: 5px;
}

.nav-split h4 {
  color: #2f327d;
  position: absolute;
  top: 16px;
  right: 4%;
  font-size: 1.2rem;
  font-weight: 400;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.profile-avatar:hover {
  background-color: #f0f0f0;
  border: 1px solid #bfbebe;
  transition: background-color 0.3s ease;
}

.profile-icon {
  font-size: 28px;
  color: gray;
  padding: 18px;
}

.profile-icon:hover {
  color: black;
}

.top-performers-container-scroll-home {
  height: 335px !important;
  overflow-y: auto;
}

.top-per-home {
  /* width: 45% !important; */
  border: none !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 12px rgba(30, 30, 30, 0.08) !important;
}

.dropdown-menu {
  position: absolute;
  right: 15px;
  top: 55px;
  /* margin-top: 3px; */
  width: 100px;
  background-color: white;
  border: 1px solid #ececec;
  border-radius: 5px;

  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
}

.dropdown-item {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px;
  width: 100%;
  padding: 10px;
  color: gray;
  font-weight: 350;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-item span:nth-child(2) {
  margin-top: 5px !important;
}

.dropdown-item:hover span:nth-child(2) {
  animation: moveIcon 0.5s ease-in-out infinite alternate;
}

@keyframes moveIcon {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(5px);
    /* Move icon slightly to the right */
  }
}

.side-img {
  margin-top: 20%;
  margin-left: 5%;
  width: 100%;
}

.home-image {
  width: 100%;
}

.dropdown-menu:hover {
  background-color: white;
}

.home-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 87%);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.home-modal {
  background: white;
  border-radius: 15px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  position: relative;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

.home-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: black;
}

.home-animation {
  width: 100px;
  height: auto;
  margin: 10px auto;
}

.welcome-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.celebration-icon {
  width: 120px;
  margin-bottom: 10px;
}

.welcome-button {
  background: #ff7f00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  /* transition: 0.3s; */
}

.welcome-button:hover {
  background: #e56a00;
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
.confetti-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  top: 0;
  left: 0;
}

.confetti {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  opacity: 0.7;
  transform: rotate(45deg);
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

/* Different colors and sizes */
.confetti:nth-child(odd) {
  background-color: yellow;
}

.confetti:nth-child(even) {
  background-color: blue;
}

.confetti:nth-child(3n) {
  background-color: green;
  width: 6px;
  height: 6px;
}

.confetti:nth-child(4n) {
  background-color: orange;
  width: 10px;
  height: 10px;
}

.confetti:nth-child(1) {
  left: 10%;
  animation-duration: 2.5s;
}

.confetti:nth-child(2) {
  left: 20%;
  animation-duration: 3s;
}

.confetti:nth-child(3) {
  left: 30%;
  animation-duration: 2.8s;
}

.confetti:nth-child(4) {
  left: 40%;
  animation-duration: 3.2s;
}

.confetti:nth-child(5) {
  left: 50%;
  animation-duration: 2.6s;
}

.confetti:nth-child(6) {
  left: 60%;
  animation-duration: 3.4s;
}

.confetti:nth-child(7) {
  left: 70%;
  animation-duration: 2.7s;
}

.confetti:nth-child(8) {
  left: 80%;
  animation-duration: 3.1s;
}

.confetti:nth-child(9) {
  left: 90%;
  animation-duration: 2.9s;
}

.confetti:nth-child(10) {
  left: 100%;
  animation-duration: 3.3s;
}

.modal-create-button:disabled {
  background: none;
  color: transparent;
  border: none;
  /* cursor: not-allowed; */
}

.time-option {
  height: 150px !important;
  overflow-y: auto !important;

}

.loader-create {
  border: 3px solid transparent;
  border-top: 3px solid #2f327d !important;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

.loader-create-remainder {
  border: 3px solid transparent;
  border-top: 3px solid white !important;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal-overlay-automation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 87%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
  z-index: 9999;
}

.modal-content-automation {
  background: #fffcfc;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  position: relative;
}

.steps-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* optional if small screen responsiveness */
  padding: 3%;
}

.box {
  /* border: 2px solid gray; */
  padding: 15px;
  border-radius: 10px;
  opacity: 0.5;
  /* pointer-events: none; */
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box select {
  width: 100%;
  padding: 8px;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  transition: border 0.3s;
}

.box input[type="text"] {
  width: 95% !important;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  transition: border 0.3s;
}

.box.active {
  opacity: 1;
  pointer-events: auto;
  animation: activateBox 0.5s;
}

.box label {
  font-size: 16px;
  font-weight: 550;
  /* margin-bottom: 3px; */
  margin-top: 5px;
}

.box1 {
  /* background: #b8d1e2; */
  background: #c9c9eb;
  width: 200px;
  min-height: 220px;
  /* light blue */
}

.box2 {
  background: #f0d5c3;
  width: 200px;
  min-height: 220px;
  /* light green */
}

.box3 {
  width: 200px;
  background: #eeb162;
  /* min-height: 0px; */
  min-height: 220px;
  max-height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* light orange */
}

.box3::-webkit-scrollbar {
  width: 6px;
  /* Slim scrollbar */
}

.box3::-webkit-scrollbar-track {
  background: transparent;
}

.box3::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.box3::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.disabled select,
.disabled input {
  background: #eee;
}

.box.active {
  opacity: 1;
  /* border-color: #2b4d8d; */
}

/* Arrow base */
.arrow {
  width: 80px;
  height: 2px;
  background: transparent;
  /* position: relative; */
  transition: all 0.5s ease;
  opacity: 0;
  position: relative;
  top: 120px;
}

/* Arrow active */
.arrow.active {
  background: #d48f0f;
  animation: growArrow 0.5s forwards;
  opacity: 1;
}

/* Arrow head */
.arrow::after {
  content: '';
  position: absolute;
  right: 0;
  top: -5px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #d48f0f;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.arrow.active::after {
  opacity: 1;
}

/* Animation */
@keyframes growArrow {
  0% {
    width: 0;
    background: transparent;
  }

  100% {
    width: 80px;
    background: #d48f0f;
  }
}

@media only screen and (max-width: 760px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  .box {
    width: 80%;
    min-height: 10px;
    /* More responsive */
  }

  .box3 {
    max-height: 100px;
    /* or any height you need */
    overflow-y: scroll;
    overflow-x: hidden;
    /* vertical scroll if content overflows */
  }

  .logo_img {
    width: 250px;

  }

  .modal-content-automation {
    background: #fffcfc;
    padding: 2%;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    position: relative;
    max-height: 80vh;
    /* Limit height to 80% of viewport */
    overflow-y: auto;
    /* Enable vertical scroll if needed */
  }

  .arrow {
    width: 2px;
    height: 40px;
    background: transparent;
    position: relative;
    top: 0;
    /* left: 50%; */
    transform: translateX(-50%);
    opacity: 0;
  }

  .arrow.active {
    background: #d48f0f;
    animation: growArrowVertical 0.5s forwards;
    opacity: 1;
  }

  .arrow::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #d48f0f;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .expiry-date {
    display: none;
  }

  .arrow.active::after {
    opacity: 1;
  }

  @keyframes growArrowVertical {
    0% {
      height: 0;
      background: transparent;
    }

    100% {
      height: 40px;
      background: #d48f0f;
    }
  }
}

.heading-automation {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #e9e3e3;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.heading-automation h2 {
  color: #25276d;

}

.heading-automation .head {
  color: #d48f0f;
}


.save-button-container {
  margin: 2%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.save-button {
  padding: 10px 20px;
  background-color: #25276d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}


.close-btn-automation {
  /* padding: 10px; */
  color: rgb(5, 4, 4);
  border: none;
  font-size: 25px;
  /* border-radius: 8px; */
  cursor: pointer;
}

.move-confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}

.move-confirm-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.move-confirm-modal-content p {
  color: black;
}

.move-confirm-button-group {
  margin-top: 15px;
}

.move-confirm-btn-cancel {
  margin-right: 10px;
  padding: 6px 12px;
  background-color: #f48c06;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.move-confirm-btn-yes {
  padding: 6px 12px;
  background-color: #2f327d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* dashboard content */
.card-dashboard-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.Home-cards-dashboard {
  display: flex;
  width: 100%;
  gap: 20px;
}

/* Card Styles */
.cards-dashboard {
  width: 180px;
  height: 180px;
  background: white;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(30, 30, 30, 0.08);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.cards-dashboard:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.cards-dashboard:hover .card-inner-text {
  transform: scale(1.2) rotate(6deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Icon Background */
.card-inner-text {
  padding: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 10px auto;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

/* Icon Colors by Position */
.cards-dashboard:nth-child(1) .card-inner-text {
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.cards-dashboard:nth-child(2) .card-inner-text {
  background: linear-gradient(to right, #f7971e, #ffd200);
}

.cards-dashboard:nth-child(3) .card-inner-text {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.cards-dashboard:nth-child(4) .card-inner-text {
  background: linear-gradient(135deg, #43e97b, #38f9d7);

}

/* Text Styling */
.card-text-content {
  font-size: 16px;
  color: #334155;
  text-align: center;
  font-weight: 600;
}

.card-text-highlight {
  font-size: 36px;
  color: #0f172a;
  text-align: center;
  font-weight: 700;
  margin-top: 5px;
}

/* Welcome Header */
.dashboard-welcome-box {
  padding: 25px 0px;
  /* background: #fff; */
  border-radius: 16px;
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05); */
  margin-bottom: 20px;
  width: 900px;

}

.dashboard-title-modern {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
  color: #25276d
}

.dashboard-subtitle-modern {
  font-size: 1rem;
  color: #475569;
  margin-top: 10px;
  opacity: 0.9;
}


.graph-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  margin-top: 30px;
}

.graph-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1f1f1f;
}


.dashboard-barchart-wrapper {
  width: 50%;
  min-width: 450px !important;
  margin-top: 0;
  height: 100% !important;
  min-height: 400px !important;
  display: block;
  background-color: white;
  padding: 10px;
  margin-left: 20px;
  border-radius: 16px;

}

.graph-box {
  height: 500px;
  /* or 100%, or whatever you need */
}

.graph-card-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  margin: 20px 0px;
}

.toggle-button {
  padding: 5px 10px !important;
}

.dashboard-graph-title {
  font-size: 18px;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 4px;
}

.dashboard-graph-subtitle {
  color: #64748b;
  font-size: 14px;
  margin-bottom: 20px;
}


@media (max-width:600px) {
  .sidebar {
    display: none;
  }

  .Home-cards-dashboard {
    flex-direction: column;
  }

  .dashboard-barchart-wrapper {
    display: none;
  }

  /* .recharts-wrapper .recharts-cartesian-axis-tick-value {
    font-size: 8px !important;
  } */
  .card-dashboard-container {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }

  .cards-dashboard {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
  }

  .card-text-highlight {
    font-size: 32px;
  }

  .dashboard-welcome-box {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 16px;
    padding: 25px 35px;
    width: 270px;

  }

  .dashboard-title-modern {
    font-size: 1.3rem;
  }

  .dashboard-content {
    overflow: auto;
    max-height: 75vh;
  }

  .dashboard-subtitle-modern {
    font-size: 0.95rem;
  }

  .logo_img-mobile {
    width: 140px;
    height: 45px;
    margin-top: 15px;
    display: block;
    margin-left: 14px;
  }

  .logo_img-mobile img {
    width: 100%;
  }

  .card {
    width: 100px;
    height: 100px;
  }

  .icon {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.8rem;
  }

  .card-grid {
    width: 55%;
    padding: 30px !important;
    margin-top: 12%;
    gap: 30px;
  }

  .card-grid-auto {
    width: 60%;
    padding: 60px !important;
    margin-top: 20%;
    gap: 20px;
  }

  .cards-auto {
    width: 120px !important;
    height: 120px !important;
  }

  .card-grid-auto {
    grid-template-columns: auto auto;
    align-items: center;
  }

  .main-content {
    width: 100%;
    padding-bottom: 20%;
  }

  .cards {
    padding: 0px 5px !important;
    width: 165px;
    height: 165px;
  }


  .home-modal {
    width: 300px !important;
  }

  .dwn-menu {
    display: block !important;
    background-color: #fff;
    padding: 10px;
    width: 95%;
    bottom: 0;
    position: fixed;
  }

  .mobile-menu {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

  }

  .desktop-content {
    display: block !important;
  }


  .sidebar-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .sidebar-button {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }

  .sidebar-container {
    overflow-y: auto;
  }

  .top-per-home {
    width: 88% !important;
    /* margin-bottom: 20px !important; */
  }

  .nav-split h4 {
    right: 2% !important;
    font-size: 0.8rem !important;
    width: 180px !important;
  }

  .navbars {
    height: 8% !important;
  }

  .graph-card-container {
    margin: 0px 0px 20px 0px;
  }

}

@media screen and (min-width: 900px) and (max-width: 1280px) {
  .navbars {
    height: 7%;
  }

  .sidebar {
    height: 103vh;
  }

}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .dashboard-welcome-box {
    width: 660px !important;
    /* margin-top: 50% !important; */
  }

  .graph-card-container {
    width: 720px !important;
  }

  .top-per-home {
    width: 40%;
  }

  .cards-dashboard {
    width: 160px;
    height: 160px;
    padding: 15px;
  }

  .top-performers-container-scroll-home {
    height: 280px !important;
  }

  .main-content-sub {
    margin-top: 12% !important;

  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .main-content-sub {
    margin-top: 12% !important;

  }

  .card-dashboard-container {
    grid-template-columns: auto auto;
    gap: 15px;
    justify-content: center;
    width: 100%;
  }

  .Home-cards-dashboard {
    gap: 10px;
    width:100% !important;
  }

  .top-per-home {
    width: 50% !important;
    /* padding: 10px !important; */
  }

  .top-performers-container{
     padding: 10px 15px !important;
  }

  .top-performers-container-scroll-home {
    height: 320px !important;
  }


  .dashboard-barchart-wrapper {
    display: none;
  }



  .card-text-highlight {
    font-size: 36px;
  }

  .dashboard-welcome-box {
    /* margin-top: 30%; */
    padding: 30px 10px;
    width: 700px;
  }

  .graph-card-container {
    width: 775px;
  }

  .navbars {
    height: 7%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .logo_img-mobile {
    width: 200px;
    height: 60px;
    margin-top: 18px;
    display: block;
    margin-left: 14px;
  }

  .logo_img-mobile img {
    width: 100%;
  }

  .nav-split h4 {
    right: 8% !important;
    top: 25px !important;
    font-size: 1.4rem !important;
  }

  .profile-container {
    right: 10px !important;
    top: 20px !important;
  }

  .card {
    width: 100px;
    height: 100px;
  }

  .icon {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.8rem;
  }

  /* .card-grid,.card-grid-auto {
    width: 50%;
    padding: 50px !important;
    margin-top: 20%;

  } */

  .card-grid-auto {
    grid-template-columns: auto auto;
  }

  .main-content {
    width: 100%;
    padding-bottom: 20%;
  }

  .cards {
    padding: 0px !important;

  }

  .cards-auto {
    width: 160px !important;
    height: 160px !important;
    padding: 10px !important;

  }

  .dashboard-content {
    margin-top: 5%;
    padding-left: 5%;
  }

  .maincontent-main {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;

  }

  .home-modal {
    width: 300px !important;
  }

  .dwn-menu {
    display: block !important;
    background-color: #fff;
    padding: 10px;
    width: 95%;
    bottom: 0;
    position: fixed;
  }

  .mobile-menu {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

  }

  .desktop-content {
    display: block !important;
  }


  .sidebar-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .sidebar-button {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }

  .sidebar-container {
    overflow-y: auto;
  }
}


/* ------------------------------------home page saved templte -------------------------------------- */

.template-thumbnail-container-home {
  /* margin: 20px; */
  box-shadow: 0 2px 3px rgba(110, 110, 110, 0.08);
  border: 1px solid #f4f4f4;
  border-radius: 8px;
}
.new-template-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.template-thumbnail-wrapper {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.new-item-gallery-item{
  padding:10px 5px 10px 20px;
  margin-left: 5%;
}


.saved-template-gallery-home {
  display: grid;
  grid-template-columns: 29% 29% 29%;
  padding: 15px;
  gap: 4%;
  justify-content: center;
}

.template-thumbnail-home {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  align-content: center;
  transition: transform 0.3s ease;
  margin-left: 10px auto !important;
  width: 280px;
  height: 190px;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 20px;


}

.template-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;

}

.template-thumbnail-wrapper:hover .template-overlay {
  opacity: 1;
}

.template-thumbnail-wrapper:hover .template-thumbnail-home {
  transform: scale(1.02);
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}

.overlay-icon {
  font-size: 24px;
  color: white;
}

.overlay-text {
  color: #fcfcfc;
  font-weight: 600;
  font-size: 14px;
}


.template-name-home h4 {
  color: #2f327d;
  font-weight: 500;
  font-size: 11px;

}

.gallery-img-home {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30% !important;
}

.saved-template-display {
  background-color: white;
  border-radius: 12px;
  padding: 10px;
}

.header-saved-template {
  padding: 10px;
}

.header-head-para {
  color: #575656;
  padding: 5px 10px;
}

.btn-preview {
  border: none;
  outline: none;
  background-color: transparent !important;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12px;
}

.template-bottom {
  width:100%;
  background-color: #f5f5f5;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}




/* ---------------------------------cards Design-------------------------------------- */

.inv-card-container {
  /* width: 220px; */
  border-radius: 12px;
  padding: 10px 12px 0px 16px;
  color: #1f2d3d;
}

.inv-card-header {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.inv-card-title {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  color: #4b4b4b;
}

.inv-card-subtitle,
.inv-card-uses {
  font-size: 12px;
  margin: 2px 0;
  color: #6c757d;
}

.inv-card-metrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 20px;
  margin: 16px 0;
  text-align: center;
}

.inv-card-metric p:first-child {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.inv-card-metric p:last-child {
  margin: 0;
  font-size: 12px;
  color: #6c757d;
}

.inv-text-orange {
  color: #f5a623;
}

.inv-text-green {
  color: #1fa463;
}

.inv-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #6c757d;
}

.inv-card-device {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inv-card-tag {
  background-color: #fff3cd;
  color: #856404;
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 11px;
  white-space: nowrap;
}

.inv-card-sort {
  border-top: 1px solid #e0e0e0;
  margin-top: 12px;
  padding: 8px 0px 0px 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  color: #6c757d;
}

.inv-card-arrow {
  color: #007bff;
}

.dot-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 5% 0px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot:hover {
  background-color: #999;
}

.dot.active {
  background-color: #f48c06;
}

@media screen and (min-width: 600px) and (max-width: 900px) {


  .saved-template-gallery {
    display: grid;
    grid-template-columns: auto auto !important;
    padding: 10px;
    justify-content: space-around;
  }

  .saved-template-gallery-home {
    display: grid;
    grid-template-columns: auto auto !important;
    padding: 10px;
    width: 100% !important;
    gap: 2% !important;
    justify-content: space-around;
  }
  .dot-pagination {

  margin-top:8% !important;
}

  .template-thumbnail-container-home {
    width: 300px;
  }
  .template-overlay{
    width: 110%;
  }
}

@media (max-width:600px) {
  .saved-template-gallery {
    display: grid;
    grid-template-columns: auto !important;
    padding: 10px;
    justify-content: center;
    
  }
  .template-overlay{
    width: 110%;
  }

  .saved-template-gallery-home {
    display: grid;
    grid-template-columns: auto !important;
    padding: 10px;
    gap: 4% !important;
    max-height: 500px;
    overflow-y: auto;
    
  }

 
}