/* Section Styling */
.feature-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    /* background: linear-gradient(to bottom, #fff, #f5f7ff); */
    color: #333;
    gap:50px;
}

.feature-content {
    width: 50%;
    text-align: right;
}

.feature-subtitle {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.feature-title {
    font-size: 2.5rem;
    font-weight: bold;
    color:#2f327d;
    margin-bottom: 20px;
}

.feature-description {
    font-size: 1rem;
    line-height: 1.8;
    color:rgb(99, 99, 99);
}

.feature-image {
    width: 50%;
    overflow: hidden; /* add this */
}


.feature-image video {
    display: block; /* add this */
    width: 100%;
    height: 400px;
    object-fit: cover;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    border: none !important;
}


@media (max-width: 768px) {
    .feature-section {
        flex-direction: column;
        text-align: center;
    }
    .feature-content{
        text-align: left;
        width: 100%;
    }
    .feature-image {
        width: 100%;
    }

    .feature-title {
        font-size: 2rem;
    }

    .feature-description {
        font-size: 0.95rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .feature-section {
        flex-direction: row !important;
        text-align: center;
    }
    .feature-section {
        padding: 5% 5%;
    }

    .feature-content {
        width: 60%;
    }

    .feature-image {
        width: 40%;
    }

    .feature-title {
        font-size: 2.2rem;
    }

    .feature-description {
        font-size: 1.1rem;
    }
}

