/* Add this CSS to center the toast content */
.custom-toast .Toastify__toast {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

